<%= content_for :title, "Messaging" %>

<h2>Message other hunters!</h2>

<div class="message_window">
  <ul class="no_bullet">
    <% @messages.each do |message| %>
      <li><%= message.content %><li>
    <% end %>
    <span class="new_message"></span>
  <ul>
</div>

<%= render 'form' %>
