<%- if devise_mapping.omniauthable? %>
  <a href="<%= user_omniauth_authorize_path(:google_oauth2) %>" class="btn btn-social btn-lg btn-google-plus">
    <i class="fa fa-google-plus"></i> Sign in with Google
  </a><br>
<% end -%>
