<%= content_for :title, "Home" %>

<h2>CRAWLS</h2>
<%= link_to "Add a New Crawl", new_crawl_path, class: "btn btn-primary" %>
<% @crawls.each do |crawl| %>
  <p><%= link_to crawl.name, crawl %></p>
  <p><%= crawl.description %></p>
<% end %>
