<h4>
  Thanks for letting us know about
  <% if @report.place %>
    <%= @report.place.name %>:
  <% else %>
    <%= @report.crawl.name %>:
  <% end %>
</h4>

<p><%= @report.description %></p>

<h4>Keep scavenging!</h4>
