html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#main {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  border-top: #B8B8B8;
  background-color: #E6E6E6;
  text-align: center;
}

img.avatar{
  width:200px;
}

.pad-top {
  padding-top: 20px;
}

.navbar-sized {
  height: 50px;
}

.nav-photo {
  border-radius: 20px;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('old_map.png');
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  color: #B80000 !important;
  font-family: 'Shadows Into Light', cursive;
  text-transform: capitalize;
  font-weight: bolder;
}

h2 {
  color: #B80000 !important;
  font-family: 'Shadows Into Light', cursive;
  text-transform: capitalize;
  font-weight: bolder;
}

h4 {
  color: #B80000 !important;
  font-family: 'Shadows Into Light', cursive;
  text-transform: capitalize;
  font-weight: bolder;
}

.brand {
  font-size: 70px;
  color: #B80000 !important;
  font-family: 'Shadows Into Light', cursive;
}

.brand:hover {
  text-decoration: none;
}

.btn-custom {
  background-color: hsl(0, 72%, 9%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de3939", endColorstr="#270606");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#de3939), to(#270606));
  background-image: -moz-linear-gradient(top, #de3939, #270606);
  background-image: -ms-linear-gradient(top, #de3939, #270606);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de3939), color-stop(100%, #270606));
  background-image: -webkit-linear-gradient(top, #de3939, #270606);
  background-image: -o-linear-gradient(top, #de3939, #270606);
  background-image: linear-gradient(#de3939, #270606);
  border-color: #270606 #270606 hsl(0, 72%, 0);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  -webkit-font-smoothing: antialiased;
  font-family: 'Shadows Into Light', cursive;
  font-size: 24px;
}

.glyphicon-map-marker {
  color: #B80000;
}

ul.no_bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#destroy {
  font-size: 30px;
  color: red;
  margin-left: -30px;
  margin-right: 14px;
  opacity:0.6;
}

#destroy:hover {
  text-decoration: none;
  font-weight: bolder;
  opacity: 1.0;
}
