<%= content_for :title, @place.name %>

<div class="row">
  <div class="col-sm-4">
    <h1><%= @place.name %></h1>
    <h6><%= link_to "Report Content", new_report_path(id: @place.id) %></h6>


    <h4><%= @place.description %></h2>
  </div>
  <div class="col-sm-8 text-center">
    <br>
    <br>
    <br>
    <br>
    <h4>MAP OF PLACE GOES HERE</h4>
  </div>
</div>
