<% if object.errors.any? %>
  <div class="error_messages">
    <h2>Dang! You made some boo-boos:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
